# **Movie Predictions Part 3**

**Name:** **Derek Overton**

**Date:** **3/12/2023**

**Project: Movie Predictions Part 3**

# **Imports**

In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gzip
import pymysql
pymysql.install_as_MySQLdb()


# Additional Imports
import os, json, math, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *
from urllib.parse import quote_plus
from scipy import stats

# **Loading Data**

In [2]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['akas.csv.gz',
 'basics.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'ratings.csv.gz',
 'tmbd_api.json',
 'tmdb_api_results_2000.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_results_combined.csv.gz']

In [3]:
# Import Basics
basics = pd.read_csv('Data/basics.csv.gz')

In [4]:
# Import Ratings
ratings = pd.read_csv('Data/ratings.csv.gz')

In [5]:
# Import Akas
akas = pd.read_csv('Data/akas.csv.gz')

In [6]:
# Import Tmdb
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')

# **Create Custom Functions**

In [7]:
def df_to_sql(df,primary=None):
    sql_schema = {key: None for key in df.columns}
    #Create schema to convert col.dtype to sql-types
    for col in df.columns:
       # print (f"{col} is type:{basics[col].dtype}")
        if df[col].dtype == "int64":
            sql_schema[col]=Integer()
        elif df[col].dtype == "float64":
            sql_schema[col]=Float()
        elif df[col].dtype == "object":
            sql_schema[col]=Text(df[col].fillna('').map(len).max()+1)
    if primary != None:
        #Change the primary key to type String(length=...)
        sql_schema[primary] = String(df[primary].fillna('').map(len).max()+1)
    return sql_schema

# **Creating MYSQL Database**

In [8]:
import mysql.connector 

db= mysql.connector.connect(
    host='localhost', 
    user='root',
    password='Password'
)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:
# Create connection string using credentials following this format
#connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:Password@localhost/movie"

In [ ]:
# Create the engine:
engine = create_engine(connection_str)

In [ ]:
# Check if the database exists
if not database_exists(engine.url):
    # Create the database if it doesn't exist
    create_database(engine.url)
    print(f'Database {engine.url.database} created successfully.')
else:
    print('The database already exists.')

In [ ]:
# Check for database existance:
database_exists(connection_str)

# **Making Dataframe tables in MySQL Database**

## **Basics**

In [ ]:
#Check the dtypes of your dataframe: (df.dtypes).
basics.dtypes

In [ ]:
#Use custom function to convert to sql-ready
basics_schema = df_to_sql(basics,"tconst")
basics_schema

In [ ]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=basics_schema,if_exists='replace',
              index=False)

In [ ]:
#Run the query to ADD PRIMARY KEY
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_basics
Limit 5;
'''
pd.read_sql_query(q, engine)

## **Ratings**

In [ ]:
ratings.columns

In [ ]:
ratings.head()

In [ ]:
ratings['tconst'].unique()

In [ ]:
#Create a ratings_id map by pairing the unique ratings with an incrementing integer
ratings_id = range(len(ratings['tconst'].unique()))
ratings_map = dict(zip(ratings['tconst'].unique(), ratings_id))
#Add ratings_id primary key column
ratings["id"] = ratings["tconst"].map(ratings_map)

In [ ]:
ratings.head()

In [ ]:
ratings_schema = df_to_sql(ratings)
ratings_schema

In [ ]:
# Save to sql with dtype and index=False
ratings.to_sql('title_ratings',engine,dtype=ratings_schema,if_exists='replace',
              index=False)

In [ ]:
#Run the query to ADD PRIMARY KEY
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`id`);')

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_ratings
Limit 5;
'''
pd.read_sql_query(q, engine)

## **Title_Genres**

In [ ]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

In [ ]:
exploded_genres = basics.explode('genres_split')
exploded_genres

In [ ]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [ ]:
## Save just tconst and genres_split as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

In [ ]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

In [ ]:
## Make a dictionary with list of unique genres as the key and the new iteger id as values
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

In [ ]:
basics['genres_split'] = basics['genres_split'].apply(lambda x: tuple(x))

In [ ]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].map(genre_map)
basics = basics.drop(columns='genres_split')

In [ ]:
## Manaully make dataframe with named cols from the .keyd and .values
genre_lookup = pd.DataFrame ({'Genre_Name': genre_id_map.keys(),
                             'genre_ID':genre_id_map.values()})
genre_lookup.head()

In [ ]:
basics['int_index'] = range(len(basics))

In [ ]:
## get max string length
max_str_len = basics['genres'].fillna('').map(len).max()

In [ ]:
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [ ]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [ ]:
#Check the dtypes of your dataframe: (df.dtypes).
title_genres.columns

In [ ]:
#Use custom function to convert to sql-ready
title_genres_schema = df_to_sql(title_genres)
title_genres_schema

In [ ]:
# Save to sql with dtype and index=False
title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',
              index=False)

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_genres
Limit 5;
'''
pd.read_sql_query(q, engine)

## **Genres**

In [ ]:
genres = pd.DataFrame(basics)

In [ ]:
genres.columns

In [ ]:
#Use custom function to convert to sql-ready
genres_schema = df_to_sql(genres)
genres_schema

In [ ]:
# Save to sql with dtype and index=False
genres.to_sql('genres',engine,dtype=genres_schema,if_exists='replace',
              index=False)

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM genres
Limit 5;
'''
pd.read_sql_query(q, engine)

## **TMBD Data**

In [ ]:
tmdb.head()

In [ ]:
tmdb.columns

In [ ]:
#You only need to keep the imdb_id, revenue, budget, and certification columns
tmdb_req = tmdb[["imdb_id","revenue","budget","certification"]]

In [ ]:
#Use custom function to convert to sql-ready
tmdb_schema = df_to_sql(tmdb_req,"imdb_id")
tmdb_schema

In [ ]:
# Save to sql with dtype and index=False
tmdb_req.to_sql('tmdb_data',engine,dtype=tmdb_schema,if_exists='replace',
              index=False)

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM tmdb_data
Limit 5;
'''
pd.read_sql_query(q, engine)